<ion-view view-title="Carregando" ng-if="loading" class="if-animation">
  <div class="load">
    <div class="container">
      <img src="img/loading.gif">
      <div class="message">As orações estão sendo carregadas <span class="dots" ng-init="startDots()">{{dots}}</span></div>
    </div>
  </div>
</ion-view>

<ion-view view-title="Categorias" class="categories if-animation" ng-if="!loading">
  <ion-content>
    <ion-item ng-repeat="category in categories | orderBy:'title':reverse" href="{{hrefFor(category.id)}}">
      {{ category.title }}
    </ion-item>
  </ion-content>
</ion-view>
