<ion-view view-title="Categorias" class="categories">
  <ion-nav-buttons side="right">
    <div class="menu-custom-buttons">
      <a class="theme icon ion-{{theme}}" ng-click="changeTheme()"></a>
      <a ng-href="#/app/search" class="icon ion-ios-search-strong" id="search"></a>
    </div>
  </ion-nav-buttons>
</ion-view>

<ion-view view-title="Carregando" ng-if="loading" class="if-animation">
  <div class="load">
    <div class="container">
      <div class="loading"></div>
      <div class="message">As orações estão sendo carregadas <span class="dots" ng-init="startDots()">{{dots}}</span></div>
    </div>
  </div>

  <style type="text/css">
    .loading { transform: rotate({{loadingAngle}}deg) }
  </style>
</ion-view>

<ion-view view-title="Categorias" class="categories if-animation" ng-if="!loading">
  <ion-content>
    <ion-item ng-repeat="category in categories | orderBy:'title':reverse" href="{{hrefFor(category.id)}}">
      {{ category.title }}
    </ion-item>
  </ion-content>
</ion-view>
