<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>

      <ion-nav-buttons side="right">
        <menu class="menu-custom-buttoms {{currentView()}}">
          <a class="decrease font"
                ng-click="changeFontSize(-5, this)">a</a>
          <a class="increase font"
                ng-click="changeFontSize(+5, this)">A</a>
          <a ng-href="#/app/search" class="button button-icon button-clear fa fa-search" id="search"></a>
        </menu>

        <style type="text/css">
          #prayer-view .preamble {
            margin-bottom: {{fontSize*1.5}}px;
          }
          #prayer-view .body {
            padding-top: {{fontSize*1.5}}px;
          }
          #prayer-view .preamble, #prayer-view .body, #prayer-view .author {
            font-size: {{fontSize}}px;
            line-height: {{fontSize*1.5}}px;
          }
          .accent {
            font-size: {{fontSize*2}}px;
            right: {{fontSize}}px;
            top: {{-fontSize*1.2}}px;
          }
          body {
            font-family: {{fontFamily}};
          }
        </style>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/categories">Orações</ion-item>
        <ion-item nav-clear menu-close href="#/app/95allahuabhas">Contador de Alláh-u-Abhá's</ion-item>
        <ion-item nav-clear menu-close href="#/app/configurations">Configurações</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
