<ion-view view-title="Oração" id="prayer-view">
  <ion-content class="prayer">
    <bg class="{{prayer.author.slice(2,4)}}"></bg>
    <p class="preamble" ng-show="{{prayer.preamble.length}}">{{prayer.preamble}}</p>
    <p class="body" ng-bind-html="prayer.body"></p>
    <p class="author"> &mdash; {{prayer.author}}</p>
  </ion-content>
</ion-view>

<style type="text/css">
  #prayer-view .preamble, #prayer-view .body, #prayer-view .author {
    font-size: {{fontSize}}px;
    line-height: {{fontSize}}px;
  }
</style>