.configurations {
  .item { line-height: 26px }

  select {
    background: white;
    height: 31px;
    width: 150px;
    padding-left: 10px;
    border: 1px solid #ccc;
  }

  .vibration div, select {
    position: absolute;
    right: 16px;
    height: 33px;
    top: 13px;
    display: inline-block;
  }

  .vibration {
    div {
      text-align: right;

      a {
        display: inline-block;
        color: #555;
        margin-left: -1px;
        padding: 3px 9px;
        width: 33px;
        text-align: center;

        &.fa {
          border: 1px solid #ddd;
          padding: 7px 9px;
        }
      }
    }
  }

  .show-watermark {
    background: #fff;

    .toggle {
      top: 13px;

      .track {
        border-color: rgba(0,0,0,0);
        background-color: rgba(200,200,200,0.7);
      }
    }
  }
}
