.configurations {
  .item { line-height: 26px }

  select {
    background: white;
    height: 31px;
    width: 150px;
    float: right;
    padding-left: 10px;
    border: 1px solid #ccc;
  }

  .vibration a {
    color: #555;
    float: right;
    margin-left: -1px;
    padding: 3px 9px;
    width: 33px;
    text-align: center;

    &.fa {
      border: 1px solid #ddd;
      padding: 7px 9px;
    }
  }
}
