.menu-custom-buttons {
  min-width: 130px;
  text-align: right;

  a {
    display: inline-block;
    width: 30px;
    height: 34px;
  }

  .font {
    text-align: center;
    font-size: 40px;
    line-height: 35px;
  }

  .decrease.font { color: rgba(140,0,0,0.8) }
  .increase.font { color: rgba(0,130,70,0.8) }
  #search { margin-right: 8px }
  #search:before { font-size: 29px }
  .theme.icon {
    color: #333;
    font-size: 35px;
  }
}
