node_modules/**/*
.expo/*
npm-debug.*
*.keystore

android/build/
android/app/build/
android/app/src/main/java/host/exp/exponent/generated
android/app/src/main/assets/*.bundle
android/local.properties
android/.gradle
android/gradle.properties
