@import url("font-awesome.css");
@font-face { font-family: Ruritania; src: url('../fonts/Ruritania.ttf'); }

bg {
  font-family: Ruritania;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
  text-align: center;
  font-size: 129px;
  line-height: 350%;
  color: rgba(0,0,0,0.15);
}

bg.counter {
  color: rgba(0,0,0,0.5);
}

bg.counter.done {
  color: rgba(140,0,0,0.8);
}

bg.Bá:after {
  content: "B";
}

bg.há:after {
  content: "B";
}

bg.bd:after {
  content: "A";
}

ion-content h1 {
  padding-left: 10px;
}

.right {
  position: absolute;
  right: 20px;
}

.change-font {
  margin: 0 10px;
}

.prayers .prayer-details {
  display: flex;
  font-size: 12px;
  color: #888;
}

.prayers .prayer-details span { width: 84px; }
.prayers .prayer-details .word-count { text-align: right; }
.prayers .prayer-details div {
  text-align: center;
  width: 10px;
}

.prayer {
  padding: 17px;
}
.prayer .preamble {
  font-style: italic;
  margin-bottom: 10px;
  text-align: center;
}
.prayer .body {
  font-size: 20px;
  line-height: 25px;
  padding-top: 50px;
}
.prayer .body::first-letter {
    font-size: 200%;
    color: #777;
    font-family: Ruritania;
}
.prayer .author {
  font-style: italic;
  font-size: 24px;
  font-family: serif;
  display: block;
  text-align: right;
  padding: 18px 25px;
}


.restart .bar-footer {
  height: 74px;
}
.restart .bar-footer .title {
  height: 74px;
  line-height: 74px;
}

.menu-custom-buttoms {
  width: 130px;
}
.font {
  display: inline-block;
  top: -1px;
  position: relative;
  text-align: center;
  font-size: 40px;
  margin-right: 9px;
}
.decrease.font {
  color: rgba(140,0,0,0.8);
}
.increase.font {
  color: rgba(0,130,70,0.8);
}


#search {
  padding: 0;
}
#search:before {
  padding: 0;
  font-size: 35px;
}
#search-input {
  display: block;
  width: 80%;
  height: 50px;
  margin: 20px auto;
  font-size: 30px;
  padding: 0 12px;
}
#search-input:focus {
  border: 1px solid #77e;
}
.search h3 {
  padding: 20px 40px;
  text-align: center;
}


.hidden {
  visibility: hidden !important;
}
