@font-face { font-family: Ruritania; src: url('Ruritania.ttf'); } 

bg {
  font-family: Ruritania;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 129px;
  line-height: 350%;
  color: rgba(0,0,0,0.15);
}

bg.counter {
  color: rgba(0,0,0,0.5);
}

bg.counter.done {
  color: rgba(140,0,0,0.8);
}

bg.Bá:after {
  content: "B";
}

bg.há:after {
  content: "B";
}

bg.bd:after {
  content: "A";
}

ion-content h1 {
  padding-left: 10px;
}

.prayers .prayer-details {
  display: flex;
  font-size: 12px;
  color: #888;
}

.prayers .prayer-details span { width: 70px; }
.prayers .prayer-details .word-count { text-align: right; }
.prayers .prayer-details div {
  text-align: center;
  width: 10px;
}

.prayer {
  padding: 17px;
}

.prayer .body {
  font-size: 20px;
  line-height: 25px;
}

.prayer .author {
  font-style: italic;
  font-size: 24px;
  font-family: serif;
  display: block;
  text-align: right;
  padding: 18px 25px;
}

.restart .bar-footer {
  height: 74px;
}

.restart .bar-footer .title {
  height: 74px;
  line-height: 74px;
}